################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Extensions/AmmFramework.Extensions.Abstractions/.vs
/Extensions/AmmFramework.Extensions.Abstractions/AmmFramework.Extensions.Caching.Abstractions/bin
/Extensions/AmmFramework.Extensions.Abstractions/AmmFramework.Extensions.Caching.Abstractions/obj
/Extensions/AmmFramework.Extensions.Abstractions/AmmFramework.Extensions.ChangeDataLog.Abstractions/bin
/Extensions/AmmFramework.Extensions.Abstractions/AmmFramework.Extensions.ChangeDataLog.Abstractions/obj
/Extensions/AmmFramework.Extensions.Abstractions/AmmFramework.Extensions.DependencyInjection.Abstractions/bin
/Extensions/AmmFramework.Extensions.Abstractions/AmmFramework.Extensions.DependencyInjection.Abstractions/obj
