<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="PrivatePackages" value="https://nuget.pkg.github.com/alimirjalily/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <PrivatePackages>
      <add key="Username" value="alimirjalily" />
      <add key="ClearTextPassword" value="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" />
    </PrivatePackages>
  </packageSourceCredentials>
</configuration>
